<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="RmqServiceUrl" value="host=10.83.3.15:5678;virtualHost=maiis.xmn;username=admin;password=admin;requestedHeartbeat=60"/>
    <add key="SubQueue" value="q.test"/>
    <add key="PubQueue" value="q.test"/>
  </appSettings>
  <connectionStrings>
    <add name="DbConnStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.83.3.15)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=bsmpure;Password=bsmpure;"/>
  </connectionStrings>
  <log4net configSource="Config\Log4net.config" />
  <unity configSource="Config\Unity.config" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>